<div class="align-items-center d-flex h-100 justify-content-center">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-5 col-sm-8 col-xl-3 mx-auto pe-5 ps-5">
      <div class="w-360">
        <div class="row">
          <div class="col-md-12">
            <div class="py-5">
              <div class="text-center">
                <img alt="Worklenz" height="50" src="/assets/images/logo.png">
              </div>
              <h5 class="text-center mb-4" nz-typography>Por favor, inicia sesión nuevamente.</h5>
              <p class="text-center mb-4" nz-typography>
                Has cerrado sesión de tu cuenta. Por favor, presiona 'Recargar' para iniciar sesión nuevamente en LegalAgenda.
              </p>
              <button (click)="reload()" [nzLoading]="loading" [nzType]="'primary'" nz-button nzBlock>Recargar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
